{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{ block.super }}
{% if hood %}
{% for item in single_hood %}
<div class="row">
    <div class="card-body col-md-3">
        <h1 class="card-title ">{{item.name}}</h1>
        <p class="card-text">{{item.location}}</p>
    </div>
</div>


{% endfor %}
<a href="#" class="btn btn-outline-primary">Add Post</a>
<a href="#" class="btn btn-outline-primary">Include Business</a>
{% else %}
<h6>This hood has no posts yet. Be the first to post</h6>
{% endif %}
{% endblock %}