{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{ block.super }}
<div class="container-fluid" id="single-hoody">
    <h6 style="text-align: center">{{single_hood.name}}</h6>
    <br>
    <a href="{% url 'leave' neighborhood_id=single_hood.id %}" class="btn btn-outline-danger">Leave Neighborhood</a>
    <a href="{% url 'add_post' %}" class="btn btn-outline-primary">Add Post</a>
    <a href="{% url 'upload_business' %}" class="btn btn-outline-primary">Include Business</a>


    <h5>Businesses</h5>
    <div class="row">
        {% for biz in single_hood.business.all %}
        <div class="card" style="width:400px" id="biz">
            <img class="card-img-top img-responsive" src="{{biz.image.url}}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">{{biz.name}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>

    <h5>Updates</h5>
    <div class="row">
        {% for conv in single_hood.posts.all %}
        <div class="card" style="width:400px" id="pst">
            <img class="card-img-top" src="{{conv.image.url}}" alt="Card image">
            <div class="card-body">
                <h6 class="card-title">{{conv.name}}</h6>
                <p class="card-text">{{conv.user.username}}</p>
                <h6 class="card-text">{{conv.description}}</h6>
                <h6 class="card-text">{{conv.pub_date}}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}